{% extends "main.html"%}


{% block content %}

<h1>Register For WybleLab</h1>
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
        {% endfor %}
</ul>
{% endif %}
<form method="POST" action="{% url 'login' %}" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="text" name="username" placeholder="Username" />
    <input type="password" name="password" placeholder="Password" />
    <input type="submit" name="Login" />
</form>

{% endblock %}